* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    padding: 30px;
    /* background-color: rgb(19, 140, 124); */
    background-image: -webkit-linear-gradient(top, #19675d 0%, #3cdac5 100%);
    background-size: cover;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

p {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

.input-result {
    color: rgb(46, 148, 220);
    padding: 20px;
    background-color: dimgray;
    width: calc(100% - 40px);
    height: calc(25vh - 40px);
    resize: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.keyboard-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    left: 0;
    bottom: 0;
    height: auto;
    width: auto;
    width: calc(100vw - 40px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
    background-color: #199a88;
    user-select: none;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.keyboard-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    background-color: #19a488;
}

.row {
    width: calc(100vw - 40px);
    display: flex;
    gap: 20px;
}

.wide-key {
    max-width: 130px !important; 
}

.space-key {
    letter-spacing: 5px;
    max-width: 376px !important;
}

.key {
    max-width: 10%;
    height: 45px;
    padding: 10px;
    position: relative;
    color:rgb(117, 205, 54);
    background: rgb(124, 118, 118);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    flex: 1;
    cursor: pointer;
    font-size: 20px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.capsMode {
    color:rgb(196, 255, 155);
}

.key:hover, .key:active {
    background: rgba(81, 77, 77, 0.278);
    color:rgb(196, 255, 155);
}

.pressed-key {
    background: rgba(81, 77, 77, 0.278);
    color:rgb(196, 255, 155);
}
