* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: calc(100vw - 60px);
    height: auto;
    padding: 30px;
}

.input-result {
    color: rgb(46, 148, 220);
    padding: 20px;
    background-color: dimgray;
    width: calc(100% - 40px);
    height: calc(25vh - 40px);
}

.keyboard-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    left: 0;
    bottom: 0;
    height: auto;
    width: auto;
    width: calc(100vw - 40px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
    background-color: #199a88;
    user-select: none;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.keyboard-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    background-color: #19a488;
}

.row {
    width: calc(100vw - 40px);
    display: flex;
    gap: 20px;
}

.wide-key {
    max-width: 120px !important; 
}

.space-key {
    letter-spacing: 5px;
    max-width: 376px !important;
}

.key {
    flex: 1;
    /* max-width: 5.5%; */
    /* width: 8%; */
    max-width: 10%;
    height: 45px;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: rgb(124, 118, 118);
    cursor: pointer;
    color:rgb(117, 205, 54);
    font-size: 1.05rem;
    position: relative;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.capsMode {
    color:rgb(196, 255, 155);
}

.key:hover, .key:active {
    background: rgba(81, 77, 77, 0.278);
    color:rgb(196, 255, 155);
}

.pressed-key {
    background: rgba(81, 77, 77, 0.278);
    color:rgb(196, 255, 155);
}
